<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Default suite" verbose="1">
<test name="Default test">
<classes>
<class name="framework.Tc_004"/>
<class name="framework.Tc_005"/>
<class name="framework.Tc_006"/>
</classes>
</test>
</suite>